
'search':
  'default': '{{default|bool}}'
  'placeholder': 'Search'
'name': 'Report'
'entityName': '{{ Entity }}'
'execsumNote': 'A Small App developped by MDM IS </br> Cash Strategy Consulting'
'id': '{{ index }}'
'background':
  'assetName': 'bg-1'
  'overlay': false
'date':
  'query': 'domain': 'dashboard_switch_ActFcst'
  'type': 'buttons'
  'id': 'date'
  'fields': [ 'breakdown' ]
'execsumTitle': ' '
